body {
  font-family: Arial, Helvetica, sans-serif;
}

.myHeader {
  background-color: #336b81;
  height: 50px;
  width: 100%;
  border-bottom: 1px solid #113453;
}

.headbarTitle {
  height: 60px;
  width: fit-content;
  background: #336b81;
  border-bottom: 1px solid #113453;
}

.headbarTitle h1 {
  padding: 8px 0px 0px 24px;
  color: #ffff;
  font-size: 17pt;
}

.optionsDropdown {
  position: absolute;
  right: 0;
  top: 0;
  margin: 10px;
}

.mainContent {
  margin: 20px;
}

.sidebar {
  background-color: #ffff;
}

.componentsGrid {
  background-color: #fff;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  margin-left: 24px;
}

.initialNode {
  height: 40px;
  width: 40px;
  background-color: #000;
  border-radius: 50%;
  display: inline-block;
}

.eventNode {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  outline: 1.5px solid #000;
  display: inline-block;
  background-color: #fff;
}

.eventNode .eventNodeLabel {
  width: 80%;
  margin-left: 15px;
  margin-top: 37%;
}

.finalNode {
  height: 40px;
  width: 40px;
  background-color: #000;
  border-radius: 50%;
  display: inline-block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-outline-radius: 50%;
  -webkit-outline-radius: 50%;
  border: 3px solid #fff;
  outline: 1.5px solid #000;
}

.activityNode {
  height: 150px;
  width: 300px;
  background-color: #fff;
  border-radius: 2px;
  border: 1px solid #000;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.activityNode .activityNodeMiddle .activityInputName {
  width: 90%;
  margin: 5px 5px 5px 5px;
}

.activityNode .activityNodeMiddle .activityInputDuration {
  width: 35%;
  margin: 5px 5px 5px 5px;
}

.activityNode .activityNodeLeft {
  width: 25%;
  height: 100%;
  border-right: 1px dashed #000;
}

.activityNode .activityNodeMiddle {
  width: 50%;
  height: 100%;
}

.activityNode .activityNodeRight {
  width: 25%;
  height: 100%;
  border-left: 1px dashed #000;
}

.timeConstraintEdge {
  fill: none;
  stroke: #555;
  stroke-width: 1;
  stroke-dasharray: 5;
  pointer-events: all;
}

.eventEdge {
  fill: none;
  stroke: #555;
  stroke-width: 1;
  stroke-dasharray: 2;
}

.nodeEdge {
  fill: none;
  stroke: #555;
  stroke-width: 1;
}

.controlEdge {
  fill: none;
  stroke: #000;
}

.eventEdge:active {
  stroke: #000;
}

.decisionNode {
  height: 110px;
  width: 110px;
}

.decisionNode .decisionNodePath {
  fill: #fff;
  stroke: #000;
}

.decisionNode .decisionNodeInput {
  width: 60px;
  position: absolute;
  left: 25px;
  top: 38px;
}

.forkNode {
  height: 150px;
  width: 20px;
}

.forkNode .forkNodePath {
  fill: #000;
  stroke: #000;
}

.ant-menu-submenu > .ant-menu {
  max-height: 90vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.fontSizeDuration {
  font-size: 20px;
}

.handle-horizontal {
  width: 20px !important;
  border-radius: 4px !important;
}

.handle-vertical {
  height: 20px !important;
  border-radius: 4px !important;
}

rect.btn {
  stroke: #fff;
  fill: #fff;
  fill-opacity: 0;
  stroke-opacity: 0;
  pointer-events: all;
}

.ant-tabs > .ant-tabs-nav,
.ant-tabs > div > .ant-tabs-nav {
  background: white;
  padding-left: 15px;
  margin-bottom: 0px !important;
}

.nodeTcn {
  height: 80px;
  width: 80px;
  background-color: #fff;
  border-radius: 50%;
  display: inline-block;
  border: 1px solid #000;
}

.nodeTcn span {
  position: absolute;
  top: 25%;
  left: 10%;
  width: 80%;
  overflow: hidden;
  text-overflow: ellipsis;
}
