body {
  font-family: Arial, Helvetica, sans-serif;
}

.headbarTitle {
  height: 100px;
  padding: 10px 20px 10px 24px;
  background: #336b81;
  line-height: 70px;
}

.headbarTitle h1 {
  color: #ffff;
  font-size: 15pt;
}

.optionsDropdown {
  float: right;
  margin: 10px;
}

.mainContent {
  margin: 20px;
}

.sidebar {
  height: 100vh;
  background-color: #ffff;
}

.componentsGrid {
  background-color: #fff;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-left: 24px;
}
